<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigfun.voicechat">

    <application
        android:name="${applicationName}"
        android:label="BigFun VoiceChat"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Normal theme meta-data -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Flutter activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Flutter V2 embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
